<%provide(:title, "About") %>
<h1>About</h1>
<p>
  <h2>Macroposts</h3>
  <h3>A web application in Rails that tries to remove character constraints but sets a minimum number of characters to write.</h3>

  Why have the constraint of only a few characters? Let's fix that. Err, or just break it.

  One fair day I had time (created through procrastination) and no snacks, so with a hungry stomach and a bored mind, I decided to remove the constaint of having to write only a few characters when somedays you really need the obligation to write more. The purpose of most social sites was to bring your social life to your computer, but what happens when somedays you just don't want to socialize? Well, days becomes weeks, and weeks becomes years, and sets in the fear of talking your mind, opinions and feelings out loud. Well, I believe if you had to write more rather than bottling it up, maybe you would feel a little better.

  You maybe (not) wondering, who created this? We know why, but who could be behind this really (un)brilliant idea? I am Jeet Das, a product of several cultures and ideas, yet I rarely belong to any. I appreciate ideas and love to hear people's opinions on subjects that matter to me. Programming helps me jot down my creativity, yet on most days and projects, tiredness and obligations set in and I leave these for a better day. Well, let's hope this one goes better.

  Well, just like this, let's start writing!

  If this site breaks somewhere or it doesn't work as it is supposed to, shoot me an email and I would love to hear your side. My email is jeet_at_das_period_bz (remove all _ (underscores) and repace the word period with it's symbol).
</p>
