<%provide(:title, "Help") %>
<h1>Help</h1>
<p>Show me an email and I would love to answer your questions: jeet_at_das_period_bz (remove all _ (underscores) and replace the word period with the period symbol (.).</p>
